################################################################################
# midflip.service
# for starting up the otterly website automatically on system start / reboot
#
################################################################################
# This program should be placed in /etc/systemd/system directory.
#
################################################################################

[Unit]

Description='Its the Otterly Site. You know, the reason this server exists????'

[Service]
User=luke
Type=simple
WorkingDirectory=/home/luke
ExecStart=/home/luke/vm_utils/startup
TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target

